* {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: 0.2s linear;
}

/* css variables */
:root {
  --white: #fff;
  --dark-gray: #ababab;
  --light-gray: #808080;
  --dark-bg: #222222;
  --light-bg: #333333;
  /* --yellow: #bac964; */
  --yellow: #01A2AC;
  /* --cyan: #01A2AC; */
  /* --red:#FF4A57; */
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}



html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--light-bg);
}

body {
  background-color: var(--dark-bg);
}

#cursor {
  height: 5.5vw;
  width: 5.5vw;
  background: var(--yellow);
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}
#cursor h5 {
  font-size: 1vw;
  font-weight: 500;
}

#loader{
  height: 100vh;
  width: 100%;
  background-color: var(--dark-bg);
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader h1{
  font-size: 100px;
  font-family:'Segoe UI';
  font-weight: 500;
  color: var(--yellow);
}


section {
  padding: 5rem 9%;
}

.heading {
  color: var(--white);
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 4rem;
}

.heading span {
  font-weight: 700;
}

.btn {
  background-color: var(--yellow);
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--white);
  text-transform: uppercase;
  margin-right: 1rem;
  display: inline-block;
  margin-top: 1rem;
}


.header a
{
  color: white;
  position: relative;
  padding: 2px 0;
}
.header a:hover{
    color: var(--yellow);
}
.header a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: .4s;
    bottom: 0;
}
.header a:hover:after{
    width: 100%;
    
}


/* home */
.home {
  height: 100vh;
 /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/hero-image.jpeg');*/
  /* filter: grayscale(100%); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row-reverse;
  position: relative;
  z-index: 9;
}

.home2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;

}

.home .hero-text {
  font-size: 7rem;
  color: var(--white);
  font-weight: 200;
  line-height: 1.2;

}


.home .hero-text span {
  font-weight: 800;
 
}

.home p {
  color: var(--dark-gray);
  font-size: 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
/* home */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6rem 10%;
  z-index: 100;
}

.header.active {
  background-color: var(--white);
  padding: 3rem 10%;
}

.header.active .navbar a {
  color: var(--dark-bg);
}

.header.active .navbar a:hover {
  color: var(--yellow);
}

.header.active .menu {
  color: var(--dark-bg);
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navbar a {
  font-size: 1.4rem;
  color: var(--white);
  padding: 0 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header .menu {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  text-align: left;
  display: none;
}
/* header */

/* portfolio */
.portfolio .box-container {
display: flex;
justify-content: center;
justify-content: center;
flex-wrap: wrap;
}


.portfolio .box-container .box .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.portfolio .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.portfolio .box-container .box {
  background-color: var(--light-bg);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.portfolio .box-container .box:hover .image img {
  -webkit-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-ms-filter: blur(1px);
		-o-filter: blur(1px);
		filter: blur(1px);
		transform: scale(1.2);
}

.portfolio .box-container .box .image .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--light-bg);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}

.portfolio .box-container .box .image .content h2 {
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.portfolio .box-container .box:hover .image .content {
  transform: translateY(0);
}
/* portfolio */

.portfolio .box-container .box .image .text {

  position: absolute;
  top: -100px;
  /* color: #01A2AC; */
  color: black;
}

.portfolio .box-container .box .image .text h3{
  color: black;
}

.image:hover .text{
 top: 20%;
}

.image:hover .button{
  bottom: 30%;
}
.image:hover .button2{
  bottom: 60%;
}

.image .button{
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 5px solid var(--yellow);
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
  font-weight: bold;
}
.image .button2{
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 5px solid var(--yellow);
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
  font-weight: bold;
}
.image .button:hover,.button2:hover{
  background-color: var(--yellow);
  color: #F5F5F5;
  cursor: pointer;
}


/* resume */
.resume .col-container .col .box {
  background-color: var(--light-bg);
  padding: 2.5rem;
  margin: 2rem 0;
  box-shadow: var(--box-shadow);
}

.resume .col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.resume .col-container .col h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 200;
  padding-bottom: 2rem;
}

.resume .col-container .col .box span {
  color: var(--white);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.resume .col-container .col .box span i {
  padding-right: 0.5rem;
  font-size: 1.7rem;
}

.resume .col-container .col .box h3 {
  color: var(--yellow);
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}

.resume .col-container .col .box p {
  font-size: 1.7rem;
  color: var(--dark-gray);
  margin-top: 1rem;
  line-height: 1.5;
  text-transform: none;
}

.resume .col-container .col .box .university {
  color: var(--light-gray);
  text-transform: capitalize;
}
/* resume */

/* about */
.about .box-container .box .image {
  height: 100%;
  overflow: hidden;
}

.about .box-container .box .image img {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.about .box-container .box p {
  color: var(--dark-gray);
  margin-bottom: 2rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-transform: none;
}
/* about */

/* services */
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.services .box-container .box {
  background-color: var(--light-bg);
  padding: 2.5rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.services .box-container .box .icon {
  font-size: 4rem;
  color: var(--light-bg);
  background-color: var(--yellow);
  padding: 2.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.services .box-container .box h2 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 2rem;
}

.services .box-container .box p {
  font-size: 1.7rem;
  color: var(--dark-gray);
  margin-bottom: 2rem;
  line-height: 1.5;
  text-transform: none;
  letter-spacing: 0.1rem;
}

.services .box-container .box .btn-2 {
  font-size: 1.7rem;
  color: var(--yellow);
  display: flex;
  justify-content: center;
}

.services .box-container .box .btn-2:hover i {
  padding-left: 1.5rem;
}
/* services */

/* contact */
.contact .col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.contact .col-container .col h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 200;
  padding-bottom: 5rem;
}

.contact .col-container .col input,
.contact .col-container .col textarea {
  background-color: var(--light-bg);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--dark-gray);
  margin: 0.5rem 0;
  resize: vertical;
}

.contact .col-container .col p {
  font-size: 1.7rem;
  color: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact .col-container .col span{
  font-size: 1.5rem;
  color: var(--dark-gray);
  letter-spacing: 0.1rem;
}

.contact .col-container .col span a{
  font-size: 1.5rem;
  color: var(--dark-gray);
  letter-spacing: 0.1rem;
}
/* contact */

/* footer */
.footer {
  border-top: 0.2rem solid var(--light-bg);
  text-align: center;
}

.footer .socials ion-icon {
  font-size: 2.5rem;
  color: var(--yellow);
  background-color: var(--light-bg);
  border-radius: 50%;
  padding: 1rem;
  margin: 0 1rem;
  cursor: pointer;
}

.footer p {
  font-size: 1.7rem;
  color: var(--dark-gray);
  margin-top: 3rem;
}
/* footer */


/* media queries */
@media (max-width: 1200px) {
  .header {
    padding: 3rem 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  }

  .header .navbar.show {
    transform: translateX(0);
  }

  .header .navbar a {
    color: var(--dark-bg);
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .home .hero-text {
    font-size: 6rem;
  }
}
/* media queries */



/* skills section */
.skills {
padding: 5rem 0;
text-align: center;
}

.heading {
font-size: 3rem;
font-weight: 700;
color: white;
margin-bottom: 2rem;
}

.heading span {
color: #f44336;
}

.skills-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.skill {
width: 300px;
margin: 1rem;
margin-bottom: 2rem;
text-align: center;
padding: 2rem;
border-radius: 5px;
box-shadow: 0 0 10px var(--yellow);
transition: transform 0.3s ease;
}

.skill:hover {
transform: translateY(-10px);
background-color: var(--yellow);
}

.skill .skill-name {
font-size: 2rem;
font-weight: 700;
color: white;
margin-bottom: 1rem;
display: flex;
justify-content: center;
align-items: center;
}
.skill .skill-name svg{
  margin-left: 0.5rem;
}

.skill-percentage {
font-size: 1.5rem;
color: #777;
}

.skill i {
font-size: 3rem;
color: #f44336;
margin-bottom: 1rem;
}

/* media queries */
@media screen and (max-width: 768px) {
.skill {
width: 100%;
}
#contact2 .container2 {
  height: 70vh;
}
}
@media screen and (max-width: 400px) {
  #cursor {
    height: 5rem;
    width: 5rem;
  }  
  #cursor h5 {
    font-size: 1rem;
    font-weight: 500;
  }
  .home{
    flex-direction: column;
  }
  #home > div:nth-child(1) > img{
    width: 300px;
    height: 300px;
    margin-top: 1rem;
  }
  #contact2 .container2 {
    height: 50vh;
  }
  .contact_way h3 {
    font-size: 0.5rem;
  }
  .contact_way svg {
    font-size: 0.5rem;
  }

  }



/*
.skills {
  padding: 80px 0;
  color:white;
}

.skills .heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  width: 300px;
  margin: 0 20px;
  margin-bottom: 40px;
  text-align: center;
}

.skill .skill-name {
  font-size: 30px;
  background-color: var(--yellow);
}
*/



.vhcf-section{
  margin-left: 11rem;
  margin-right: 11rem;
}
.vhcf-section .vhcf-row {
  width: 100%;
  display: block;
}
.vhcf-section .vhcf-row .vhcf-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items:start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content:space-evenly;
  color: white;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.vhcf-section .vhcf-row .vhcf-column .vhcf-module{
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  text-align: justify;
}
.vhcf-section .vhcf-row .vhcf-column .vhcf-module img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Extra for box */

.vhcf-section .vhcf-row .vhcf-column .vhcf-module .box .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.vhcf-section .vhcf-row .vhcf-column .vhcf-module .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vhcf-section .vhcf-row .vhcf-column .vhcf-module  .box {
  background-color: var(--light-bg);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.vhcf-section .vhcf-row .vhcf-column .vhcf-module.box:hover .image img {
  -webkit-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-ms-filter: blur(1px);
		-o-filter: blur(1px);
		filter: blur(1px);
		transform: scale(1.2);
}

.vhcf-section .vhcf-row .vhcf-column .vhcf-module .box .image .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--light-bg);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}

.vhcf-section .vhcf-row .vhcf-column .vhcf-module .box .image .content h2 {
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.vhcf-section .vhcf-row .vhcf-column .vhcf-module .box:hover .image .content {
  transform: translateY(0);
}

/* Contact Section */
#contact2 {
  background: var(--dark-color);
}

#contact2 h2 {
  font-size: 6rem;
  text-align: center;
  margin: 2rem 0;
  color: white;
}

#contact2 .container2 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.top_contact2 {
  max-width: 800px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.contact_way {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact_way svg {
  font-size: 3rem;
  color: white
}
.contact_way h3 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.bottom_contact {
  max-width: 400px;
  gap: 1rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
